@font-face {
    font-family: bakery;
    src: url(fonts/bakery.ttf);
}
@font-face {
    font-family: bake;
    src: url(fonts/sharonbaker.ttf);
}

@font-face {
    font-family: AbrilFatface-Regular;
    src: url(fonts/AbrilFatface-Regular.otf);
}

#cont{
    padding-top: 4%;
    margin-top: -2%;
    margin-left: 12.5%;
    border-color: #272727;
    border-style: solid;
    border-width: thin;
    width: 73%;
    background-color: rgba(255, 190, 136, 0.877);
    border-radius: 10px;
}

#demo{
    text-align: center;
}

.intro{
    border-width: 0px;
    border-style: solid;
    border-color: black;
    width: 70%;
    margin-left: 14%;
}

.hed{
    font-family: bakery;
    font-weight: bold;
    font-size: 60px;
    color: #272727;
}

.intro p::first-line{
    margin-left: 50px;
}


.intro p{
    font-family: Helvetica, sans-serif, arial;
    font-weight: normal;
    color: #272727;
    font-size: 15px;
}

.inq p{
    font-family: AbrilFatface-Regular;
    font-weight: normal;
    color: #272727;
    font-size: 15px;
}


hr{
    width: 90%;
    height: 2px;
    border-width:0;
    background-color: #f7ede2;
}

h1{
    color: #272727;
    font-size: 40px;
    font-family: bake;
}

#links{
    width: 30%;
    text-align: center;
}
#contact{
    text-align: center;
    width: 30%;
}
#loc{
    margin-top: 2%;
    width: 40%;
    text-align: center;
}
#links a{
    font-size: 50px;
    text-decoration: none;
    color: #272727;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

