@font-face {
    font-family: bakery;
    src: url(fonts/bakery.ttf);
}
@font-face {
    font-family: bake;
    src: url(fonts/sharonbaker.ttf);
}

@font-face {
    font-family: AbrilFatface-Regular;
    src: url(fonts/AbrilFatface-Regular.otf);
}



.content{
    padding-top: 6%;
    margin-top: -3%;
    margin-left: 13.1%;
    border-color: #272727;
    border-style: solid;
    border-width: thin;
    height: 1100px;
    width: 73%;
    background-color: rgba(255, 190, 136, 0.877);
    border-radius: 10px;
}

.intro{
    border-width: 0px;
    border-style: solid;
    border-color: black;
    width: 70%;
    margin-left: 14%;
}

.hed{
    font-family: bakery;
    font-weight: bold;
    font-size: 60px;
    color: #272727;
}

.intro p::first-line{
    margin-left: 50px;
}


.intro p{
    font-family: Helvetica, sans-serif, arial;
    font-weight: normal;
    color: #272727;
    font-size: 15px;
}

.inq p{
    font-family: AbrilFatface-Regular;
    font-weight: normal;
    color: #272727;
    font-size: 15px;
}


hr{
    width: 90%;
    height: 2px;
    border-width:0;
    background-color: #f7ede2;
}

h1{
    color: #272727;
    font-size: 40px;
    font-family: bake;
}

.links{
    margin-left: 15%;
    width: 30%;
    height: 150px;
    text-align: center;
    float: left;
    margin-bottom: 10%;
}
.links a{
    font-size: 50px;
    text-decoration: none;
    color: #272727;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.contact{
    margin-left: 5%;
    width: 30%;
    height: 150px;
    text-align: center;
    float: left;
    margin-bottom: 10%;
}

.loc{
    margin-left: 28%;
    width: 40%;
    height: 150px;
    text-align: center;
    display: block;
}

