body{
    background-image: url("imgs/bg2.jpg");
    padding-top: 40px;
    font-family: sans-serif;
    margin: 0px;
}
.header{
    text-align: center;
}

.header img{
    border-radius: 50%;
    position: relative;
    z-index: 2;
    max-width: 10%;
    min-height: auto;
}

nav{
    min-width: 480px;
    margin-top: -2%;
    margin-left: 14%;
    border-radius: 10px;
    width: 70%;
    background-color: #272727;
}

nav a:hover{
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
}

#fb-icn{
    text-align: center;
    font-size: 3x;
    width: 40px;
    border-radius: 100%;
}

.navbar-toggler{
    border-color: #000000;
    border-width: 1.8px;
    border-radius: 5px;
}

.navbar-toggler:hover{
    border-color: #ffffff;
    border-width: 2px;
    border-radius: 5px;
}